[2020-05-02 21:34] jaepass opened #14 "Delete unused components/pages"
- delete any unused components/pages
- delete unused code throughout project

[2020-05-02 21:35] jaepass opened #15 "Rename repo"
- nextjs-commercejs

[2020-05-04 17:10] jaepass opened #16 "Test Netlify one-click deploy/CLI deploy"

[2020-05-06 02:30] #15 closed

[2020-05-06 18:04] jaepass opened #19 "Add discount functionality in checkout"

[2020-05-06 22:28] jaepass opened #21 "Add About page"
Commerce.js example storefront

This is an open source storefront built using Chec’s headless architecture and the Commerce.js SDK. Commerce.js is a smarter, more efficient way to build eCommerce projects, and we hope you can see that as you explore the world custom eCommerce and build on top of, or pick apart this project. Everything in this project, from the storefront, to the cart, checkout and

[2020-05-06 22:30] jaepass opened #22 "Cart bugfix"
cart bug with retrieving new cart id

[2020-05-06 22:31] jaepass opened #23 "Product assets"
product assets showing 2 image assets instead of 3

[2020-05-08 08:57] #14 closed

[2020-05-08 08:57] #16 closed

[2020-05-08 08:57] #19 closed

[2020-05-08 08:57] #21 closed

[2020-05-08 08:57] #22 closed

[2020-05-08 08:57] #23 closed

[2020-05-08 18:16] jaepass opened #35 "Review - Rename methods and callbacks event handlers"
Following React's convention to name methods on components and the callbacks passed as props to `handle...` and `on...`

[2020-05-08 18:20] jaepass opened #36 "Review - Choose to bind methods with `this` or with arrow functions"
Choose to bind methods with `this` or with arrow functions and keep it consistent across the whole codebase

[2020-05-08 21:54] robbieaverill commented on #36
We've agreed to use binding

[2020-05-08 23:04] robbieaverill opened #40 "Credit card payment field alignment is out at ~1000px wide screen"
![image](https://user-images.githubusercontent.com/5170590/81455957-a7ab1700-9145-11ea-8c5e-8693023fb0d9.png)

[2020-05-09 00:09] #36 closed

[2020-05-09 00:09] robbieaverill commented on #36
Done in #41

[2020-05-09 00:09] robbieaverill commented on #35
I did some of this in #41 but might be worth another glance over to see if I missed some

[2020-05-09 00:17] jaepass opened #45 "Product detail container not responsive"
- product detail container out of view in mobile -> make responsive

[2020-05-09 03:52] jaepass opened #47 "Bug/Adding second product triggers error"
error:
[code]
To reproduce:
- go into a product detail page from the collection page, select a product and add a variant to cart (item is updated in cart)
- go back to collection page and select another product to add to cart (item is updated in cart)
- scroll down from current product detail page to a product card under suggested product and add that product to cart (item is not added to cart and

[2020-05-09 09:20] #40 closed

[2020-05-09 13:17] jsartre opened #51 "About page on home banner = 404"
https://commercejs-demo-store.netlify.app/about ==> 404.
Either create new page or redirect to commercejs.com #

Same thing happens when clicking on Find out More --> perhaps link to instagram?

[2020-05-09 13:30] jsartre opened #52 "Checkout on mobile - can't see cart"
When on checkout page on mobile, can't see the cart recap which you should?

[2020-05-09 13:32] jsartre opened #53 "Reviews error"
Clicking on View all Reviews --> Takes to a page "An expected error has occurred."

[2020-05-11 17:07] #45 closed

[2020-05-11 17:09] robbieaverill commented on #52
cc @john-raymon @jaepass

[2020-05-11 17:10] robbieaverill commented on #51
Thanks for raising this. We're tracking this internally as CHEC-576.

[2020-05-11 17:14] robbieaverill opened #54 ""Write a review" does nothing when you click on it"
From the product view page. Rev 5606b20be0c896c1376355c951a7c411453f12da

[2020-05-11 22:57] jaepass opened #58 "Review/Use action types for store prod/cat in _app.js"
- use already created action types in `_app.js` for storing products and categories

[2020-05-12 00:35] #54 closed, assigned to nobody

[2020-05-12 00:41] jaepass opened #59 "Bug/Store data not persisting going from one getStaticProps product display page to another"
Store data like items in cart not persisted going from one `getStaticProps` "product detail page" to another after `next-wrapper-redux` udpate

[2020-05-12 00:47] robbieaverill commented on #59
I might suggest we refer to "product detail pages" or "product details view" or something rather than PDP - I think "PDP" is a bit of a siloed term we've ended up adopting, but it's not clear what it means to anyone else (including me and Guy!)

[2020-05-12 00:48] robbieaverill commented on #59
Regression from #43

[2020-05-12 01:38] #58 closed

[2020-05-13 00:49] jaepass commented on #59
so have gone through the docs and issues raised but still stumped on how to merge both server and client states or hydrate correctly.  is `getInitialProps()` still compatible with the latest `next-wrapper-redux` upgrade?
https://github.com/kirill-konshin/next-redux-wrapper/pull/196#

[2020-05-13 05:08] jaepass opened #61 "Add code block showing repo structure with descriptions of main folders/files in README"

[2020-05-13 05:10] jaepass opened #62 "Add a contribution outline doc"

[2020-05-13 21:22] #51 closed

[2020-05-14 18:10] jaepass opened #64 "Add loading states"

[2020-05-14 19:08] #59 closed

[2020-05-14 21:04] robbieaverill opened #66 "Switching from product view to another product view then adding to cart errors and renegerates cart"
The bug is caused by an [upstream issue in Commerce.js](https://github.com/chec/commerce.js/issues/51), but the fact that we're sending the wrong variant/option ID to the "add to cart" function is something we can fix here.

[2020-05-15 16:59] #47 closed

[2020-05-15 16:59] #66 closed

[2020-05-27 19:07] jaepass opened #76 "Add option to set up project with Chec CLI demo-store in setup steps"

[2020-06-26 00:37] jaepass opened #79 "Add some kind of stats badge to show #s of forks or deploys"

[2020-06-28 21:01] jaepass opened #80 "Netlify onboarding plugin not working"
- Added onboarding plugin to Netlify config, tested and worked fine
- Somehow regressed and now onboarding screen does not show extra template.environment property to input env var

[2020-07-06 17:28] jaepass commented on #80
Raised an issue here https://github.com/jlengstorf/netlify-plugin-onboarding/issues/1

[2020-07-06 21:40] #80 closed

[2020-07-06 23:56] ScopeyNZ commented on #80
I assume we'll need to update the plugin when it's fixed?

[2020-07-06 23:58] jaepass commented on #80
heyhey Guy a patch was added and fixed now. no need for an update on our end. the plugin is now working as expected!

[2020-07-07 00:22] ScopeyNZ commented on #80
Sure, but won't the `yarn.lock` be tied to the broken version?

[2020-07-07 00:23] ScopeyNZ commented on #80
Nevermind, I was confused to how this works. It didn't require a change to the dependency, something on their servers. All good.

[2020-07-07 00:30] jaepass commented on #80
Awesome thanks Guy, yea seemed like a real quick fix, they got on the issue today and patched it in a couple hours.

[2020-07-28 06:42] eufandem opened #85 "Processing animation does not reset when there is a checkout error"
Processing animation does not stop after/when shipping method alert is confirmed. Cannot progress with the order.

<img width="768" alt="Screen Shot 2020-07-27 at 11 38 26 PM" src="https://user-images.githubusercontent.com/29156467/88628236-76662700-d062-11ea-86f0-8f652efdaa30.png">

[2020-07-28 21:38] #85 closed

[2020-07-30 18:09] jaepass commented on #64
Closed by https://github.com/chec/commercejs-nextjs-demo-store/pull/84

[2020-07-30 18:09] jaepass commented on #64
Closed by https://github.com/chec/commercejs-nextjs-demo-store/pull/84

[2020-07-30 18:09] #64 closed

[2020-08-07 11:25] lborruto opened #88 "Command failed with exit code 1: yarn deploy"
Hello! Building with Netlify, I got error when website is deployed :

[code]

My key is in the right place :

![Screenshot_4](https://user-images.githubusercontent.com/33548688/89641388-da35ee80-d8b1-11ea-85ba-1a981ec5ee35.png)

[2020-08-07 18:18] #88 closed

[2020-08-07 18:30] lborruto commented on #88
Still same error, am I doing something wrong?

[2020-08-07 22:01] jaepass commented on #88
Hii are you a part of our community here http://slack.commercejs.com/? We can work out the error in real-time there.
I also just added this note https://github.com/chec/commercejs-nextjs-demo-store#one-click-deploy-with-netlify-recommended to explain both deploy processes

[2020-08-07 22:02] jaepass commented on #88
Hii are you a part of our community here http://slack.commercejs.com/? We can work out the error in real-time there.
I also just added this note https://github.com/chec/commercejs-nextjs-demo-store#one-click-deploy-with-netlify-recommended to explain both deploy processes

[2020-08-12 18:29] eufandem opened #93 "Totals issue at checkout and receipt page"
<img width="1183" alt="Screen Shot 2020-08-12 at 11 18 29 AM" src="https://user-images.githubusercontent.com/29156467/90053261-12ad4200-dc8f-11ea-8a25-e738ea776f14.png">

[2020-08-12 19:01] john-raymon commented on #93
It seems like the wrong total, subtotal is deriving from the checkout token object.

![image](https://user-images.githubusercontent.com/30238579/90056313-a9d4c280-dcac-11ea-9443-0013829ff4ae.png)

[2020-08-12 19:09] john-raymon commented on #93
For some reason the `live.line_items.line_total` prices for the items are different from the `live.line_items.price` prices. The live object's total reflects the prices from the `live.line_items.line_total`.

@robbieaverill @ScopeyNZ  is `live.line_items.price` deprecated? I'm not sure why the two are different prices if in this scenario there's only 1 quantity for each being checked out.

![image

[2020-08-12 19:21] ScopeyNZ commented on #93
Is it adding a variant price? I think the `price` on the line_item response there is the base price for the product, without an variant price deltas added.

[2020-08-12 19:25] ScopeyNZ commented on #93
Looking at the products, I'm guessing that first line item (complexion cream) has the "500ml" variant, which will add $57 to the line item total.

[2020-08-12 19:30] john-raymon commented on #93
@ScopeyNZ I'm also noticing some discrepancies within the order receipt object.

Here a variant of the Lip Fantastic product is checked out, but yet the total only shows 34.50 within there but the subtotal is 59.

[2020-08-14 00:43] robbieaverill commented on #93
Fixed in #95, nice work @john-raymon

[2020-08-14 00:43] #93 closed

[2020-08-25 22:26] slavakurilyak commented on #88
I'm getting the same issue when deploying to Netlify for the first time

[2020-08-25 23:24] jaepass commented on #88
Hi there, are you getting the same build error? A fix was recently pushed up to handle these errors https://github.com/chec/commercejs-nextjs-demo-store/pull/97. Are you deploying manually after making changes locally or using the one-click deploy feature? If you're using the one-click deploy for a quick preview, be sure to use the public key provided in the docs https://github.com/chec/commercejs

[2020-08-26 19:13] jaepass opened #98 "Better error handling when categories are deleted in the backend"
Scenario:
- When a user clones the project, seeds the sample data and sets up the app locally, he/she deletes the sample categories
- The hard coded categories data here https://github.com/chec/commercejs-nextjs-demo-store/blob/master/lib/collections.js does not match up and the UI cannot be rendered

Solutions:
- Better error handling
- Get rid of hardcoded collections data and somehow output dyn

[2020-08-26 19:16] robbieaverill commented on #98
Solutions sound great to me 👍

[2020-09-03 21:17] slavakurilyak opened #100 "Not Seeing Shipping Information"
Hey 👋.

When replicating the demo, I am having an issue seeing shipping information on the order page within Commerce.js

Here's a screenshot of what I see.

![screen](https://user-images.githubusercontent.com/6625584/92170106-eb5e1680-edef-11ea-84d4-3984ac16a1f8.jpg)

Please advise.

[2020-09-03 21:35] robbieaverill commented on #100
Hi there, the shipping information is displayed in a separate section: "Shipping address"

[2020-09-03 21:39] robbieaverill commented on #100
For example:
![image](https://user-images.githubusercontent.com/5170590/92176414-42b1b600-edf3-11ea-9092-45374020fceb.png)

[2020-09-03 22:06] slavakurilyak commented on #100
@robbieaverill I am not seeing the `Shipping Address` section.

Here is what I see:

![screen 1](https://user-images.githubusercontent.com/6625584/92178226-f23c5780-edf6-11ea-9a27-dffc5fdddad2.jpg)

![screen](https://user-images.githubusercontent.com/6625584/92178140-bf925f00-edf6-11ea-87f1-8f21a670098f.jpg)

[2020-09-03 22:08] robbieaverill commented on #100
I see. The product "NotSoBasic Socks" in this case does not have physical delivery enabled, so the shipping address is not captured against the order. Is the product one of the defaults that is created by the demo store's seeder?

[2020-09-03 23:20] slavakurilyak commented on #100
@robbieaverill The socks are a new product, not part by the seeder. The physical delivery is enabled for this product.

Here's what I see from Commerce.js side:

![screen](https://user-images.githubusercontent.com/6625584/92182635-02593480-ee01-11ea-8edd-f88376d647f6.jpg)

Here's what I see from Next.js side:

![Screen Recording 2020-09-03 at 04 15 57 PM](https://user-images.githubusercontent.com/

[2020-09-03 23:21] robbieaverill commented on #100
You need to click "Enable" in the "Shipping Options" section of that first screenshot to enable shipping for the product

[2020-09-04 00:04] slavakurilyak commented on #100
@robbieaverill Thanks for clarifying.

I added the US and Canada to the Commerce.js settings via [https://dashboard.chec.io/settings/shipping](https://dashboard.chec.io/settings/shipping).

![screen 1](https://user-images.githubusercontent.com/6625584/92184963-65e66080-ee07-11ea-853a-6dc9476c4c28.jpg)

![screen 2](https://user-images.githubusercontent.com/6625584/92184968-6848ba80-ee07-11ea-95d1-a

[2020-09-04 00:22] robbieaverill commented on #100
@slavakurilyak have you enabled the "US and Canada" shipping zone in your product configuration? It's in the "Shipping Options" section from your earlier screenshot.

[2020-09-04 05:49] slavakurilyak commented on #100
@robbieaverill That worked! I needed to click to enable "Shipping Options" and enable zone for "US and Canada". Consider adding a note for shipping options in the README file. 🙌

[2020-09-04 05:49] #100 closed

[2020-09-16 17:04] slavakurilyak opened #101 "Add Size to Checkout Page"
Please add size (variations) to the checkout page

<img width="553" alt="Image 2020-09-16 at 10 03 14 AM" src="https://user-images.githubusercontent.com/6625584/93369272-007d7100-f804-11ea-98eb-045232671f65.png">

[2020-09-16 17:21] robbieaverill commented on #101
Hi @slavakurilyak, it's a good idea to list all selected variants here, thanks for the suggestion.

If you feel like making a pull request, I'd happily review one - otherwise we'll get to this when we have a chance to.

[2020-09-24 00:00] robbieaverill commented on #101
@slavakurilyak has implemented this in #102 - thank you for your contribution!

[2020-09-24 00:00] #101 closed

[2020-10-01 18:33] eufandem opened #103 "Product image previews not loading at the checkout"
<img width="703" alt="Screen Shot 2020-10-01 at 11 31 06 AM" src="https://user-images.githubusercontent.com/29156467/94849140-d027fc00-03d9-11eb-946a-43704fdfcecf.png">

[2020-10-01 22:59] robbieaverill commented on #103
Related: https://github.com/chec/commercejs-nextjs-vercel/issues/5

We can probably take the solution from that repo and apply it here as well.

[2020-10-01 23:36] robbieaverill commented on #103
The other repo's patch is here: https://github.com/chec/commercejs-nextjs-vercel/pull/6

[2020-10-02 10:57] botex98 commented on #103
@robbieaverill may I solve this issue?

[2020-10-02 14:19] robbieaverill commented on #103
@botex98 yes please!

[2020-10-02 17:33] robbieaverill commented on #98
Another scenario for this is when someone clones the project, changes to their own API key, but doesn't seed any data or set up any products/categories.

[2020-10-03 12:34] botex98 commented on #62
Hey.
Would this bit help?
[Good CONTRIBUTING.md](https://gist.github.com/PurpleBooth/b24679402957c63ec426)

[2020-10-04 18:01] robbieaverill commented on #103
Fixed in #106, thanks @botex98

[2020-10-04 18:01] #103 closed

[2020-10-04 22:05] jaepass commented on #62
Hi @botex98 thanks for your comment. If you'd like to make a pull request, please edit the doc to be more specific to contribute to the project. The guide you suggested is for a rather wide range of projects and not all points pertain to the repo.

[2020-10-06 12:28] LB22 opened #108 "No option to NOT invert logo"
This project is really nice to get started with next.js and commerce.js.
I would like to contribute all I can, but I'm a noob. Hopefully I can contribute as I learn, but seemingly not yet.
I have a proposal, and it might be a small and easy fix, but I can't do it.

It is indeed stylish that the header is transparent and inverts color of the fonts/logo/shopping cart when you're all the way up the p

[2020-10-06 17:55] danimart1991 commented on #79
I would like to take this issue.

[2020-10-06 18:01] jaepass commented on #79
awesome thanks @danimart1991, will assign you to it!

[2020-10-06 18:02] AltCtrlDel1999 commented on #79
Hey Can I work on this issue. I'm new to open source development. It will be good start for me.

[2020-10-06 18:28] #79 closed

[2020-10-06 20:12] ScopeyNZ commented on #108
Sure. You can just remove this bit:

[code]

That is a [ternary operator](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Conditional_Operator) that is adding the `invert` class if the `transparent` variable is true. If you never want the `invert` class, you can just remove that bit. If you want it to always be inverted, you can replace it with just `invert`.

I'll clos

[2020-10-06 20:12] #108 closed

[2020-10-07 08:52] kichloo commented on #62
@jaepass Kindly assign this issue to me

[2020-10-07 15:29] Yashs911 commented on #76
Hi, @jaepass I would like to work on this issue. I am new to open source so can you please guide me?

[2020-10-07 16:23] #62 closed

[2020-10-07 16:23] robbieaverill commented on #62
Thanks for all the interest. It's better that we do this ourselves, to avoid wasting contributors time.

[2020-10-07 16:26] robbieaverill commented on #76
Hi @Yashs911, thanks for your interest. You can install this repository as a Commerce.js demo site using our [CLI](https://github.com/chec/cli), where this template is one of the options under the `demo-store` command. This task is to add some instructions for doing this to the readme of this repository.

[2020-10-07 16:27] #98 closed

[2020-10-07 16:27] robbieaverill commented on #98
Fixed with #105 for now. Ideally we stop relying on hard coded category/asset information in future, but no need to keep this issue open for that.

[2020-10-08 04:36] Yashs911 commented on #76
@robbieaverill So I need to add this method:

![2](https://user-images.githubusercontent.com/64412143/95415404-c8260a00-094d-11eb-9346-4c6298d7bf6e.JPG)

in the readme file of this repository. Am I correct?

[2020-10-08 04:37] robbieaverill commented on #76
Yes that's correct

[2020-10-08 16:43] #76 closed

[2020-10-08 16:43] robbieaverill commented on #76
hanks @Yashs911

[2020-10-10 14:43] LB22 commented on #108
Hey. Thanks for the answer @ScopeyNZ . Few more things. Why are anchor tags put inside next link? I've been trying to google it but can't find anything of value. Why not only the <Link> tag when navigating inside the app? Why the double href?

for example: `components\common\Header.js`

I would also like to ask about the eslint warning for [target:"_blank"](https://github.com/yannickcr/eslint-plug

[2020-10-14 18:08] eufandem opened #114 "Show Shipping method validation error to customer"
If a shipping method is not selected at the checkout the customer should be made aware of what they need to do to complete the checkout.

Proposed solutions:
- Notification bar stating "Please select a shipping method to complete your order"
- Highlight the Shipping Method field in red

[2020-10-15 00:19] pierrolabo commented on #114
Hi everyone,
I'm poking around for fun ...
i'm able to highlight the shipping method field if nothing is selected when we press the checkout button but unfortunately the API doesn't return me available shipping options for any countries ( https://api.chec.io/v1/checkouts/chkt_75v7GqzbkLREXl/helper/shipping_options?country=CN )

[2020-10-15 07:36] JoelJJoseph commented on #114
The method of shipping is not selected at the checkout.

The notification bar should be select shipping order to complete the order.
Highlight the Shipping Method field

[2020-10-15 17:48] jaepass commented on #114
Currently 84 countries are included arbitrarily in the one shipping zone for this demo account. The reason why the shipping options aren't showing in the dropdown is because not all countries were included. We have several checkout shipping helpers that can help with populating only the countries that are included for the checkout token and that particular checkout helper is not being used for thi

[2020-10-15 17:54] jaepass opened #116 "Change `commerce.services.localeListCountries` to `commerce.services.localeListShippingCountries`"
Change `commerce.services.localeListCountries` to `commerce.services.localeListShippingCountries` for better handling of populating available shipping countries
For more context https://github.com/chec/commercejs-nextjs-demo-store/issues/114#issuecomment-709488701

[2020-10-15 17:55] robbieaverill commented on #114
You could also disable the checkout button until the shipping method has been selected

[2020-10-15 18:50] dalmia007 commented on #116
@jaepass is that the only change required? Just changing one thing?

[2020-10-15 22:35] drobiu commented on #114
Hey, can I try tackling that issue?

[2020-10-15 22:36] jaepass commented on #114
yes definitely go for it thanks!

[2020-10-16 00:11] tacoelho commented on #114
As no one was assigned I made a PR.

[2020-10-16 06:19] Abhi947223 commented on #114
I have gone through  documentation/readme but not able to run the localserver on my machine

[2020-10-16 12:53] ng29 opened #120 "Adding Table of Content to Readme.md"
Hey @robbieaverill / @john-raymon / @jaepass

The idea for Adding Table of Content to Readme.md to add additional enhancement and readability to the docs file.

It will help users to have a better experience and will avoid unnecessary scrolling on the page.

I would like to work on this issue.

Cheers,

[2020-10-16 16:56] robbieaverill commented on #120
We'll gladly review a pull request if you'd like to make one, but we don't need an issue to track it. Thanks!

[2020-10-16 16:56] #120 closed

[2020-10-16 18:09] asha15 commented on #114
Can i know does this issue was solved?

[2020-10-16 18:11] ScopeyNZ commented on #114
The issue is still open, but there's a PR to fix it that's in review right now (#118)

[2020-10-16 19:16] ng29 commented on #120
Sure @robbieaverill please review and merge my changes for toc
https://github.com/chec/commercejs-nextjs-demo-store/pull/121

Cheers

[2020-10-17 03:10] SHROYETA20 commented on #114
You could also disable the checkout button until the shipping method has been selected.

[2020-10-17 18:22] ShraddhaGeek commented on #114
Can I take if this is still open?

[2020-10-17 22:29] jaepass commented on #114
The issue is free for anyone to pick up! Just submit a pr for it for review!

[2020-10-18 14:35] drobiu commented on #116
How do I check if my solution works? How to execute the checkout page/render it? Also on what branch should I work on?

[2020-10-18 22:43] robbieaverill commented on #116
Hi @drobiu, see https://github.com/chec/commercejs-nextjs-demo-store#overview

[2020-10-19 17:25] drobiu commented on #116
What is the intended functionality after the change?

[2020-10-19 18:00] drobiu commented on #116
Also is there a way to get existing checkout token inside the js file?

[2020-10-19 21:07] jaepass commented on #116
state is being handle with redux store and all data objects are being passed in as props, so the way you've passed the checkout object in works

[2020-10-19 21:07] #116 closed

[2020-10-20 00:28] drobiu commented on #114
I've created a pr for this issue

[2020-10-20 05:14] akashrajput25 opened #130 "Menu Popup on devices with resolution less than 720px ,bg color looks little aweful, need to optimise that"

[2020-10-20 16:24] #114 closed

[2020-10-20 18:20] parammittal16 opened #132 "Added missing and Fixed inconsistent links in ReadMe docs"
Hi @robbieaverill  / @john-raymon  / @jaepass

As reading the ReadMe docs found some inconsistencies like

Missing links on Next.js in some of the major areas
Missing links of some technologies used in Tech stack ...

I would like to work on this

Thanks

[2020-10-20 18:48] #132 closed

[2020-10-24 00:56] K-Love opened #136 "Deploy to Netlify Button Fails"
Hi, just FYI, the Deploy to Netlify button leads to deployment failures in Netlify.

[2020-10-26 16:52] robbieaverill commented on #136
Thanks for the heads up.

Here's the relevant output from the build log:

[code]

[2020-10-26 23:09] jaepass commented on #136
Hi Kevin, did you use the provided [public key](https://github.com/chec/commercejs-nextjs-demo-store#one-click-deploy-with-netlify-recommended) mentioned in the README when this error happened or your own?
<img width="937" alt="Screen Shot 2020-10-26 at 4 07 56 PM" src="https://user-images.githubusercontent.com/48780927/97237959-7aaaf900-17a5-11eb-945e-75ea273fb244.png">

[2020-10-27 01:26] K-Love commented on #136
Hi,

I used my own key.

Kevin Love
Founder

Web | Email | Blog

[2020-10-27 23:09] robbieaverill commented on #136
It turns out that product descriptions are not always being returned as strings. I've added some truthy checks to our string manipulation on this property, fix is at #137

[2020-10-27 23:11] robbieaverill opened #138 "Add GitHub action to run some automated checks"
Example of some checks that we can run:

* Linting (we'll need to add a linter and lint the project first)
* `yarn deploy` - this is what Netlify/Vercel run to deploy the project

We often have pull requests merged that break the one-click deployment pipelines, but we don't discover this until that happens and somebody reports it (#136). This could be avoided by adding continuous integration check

[2020-10-27 23:13] robbieaverill opened #139 "Upgrade to Next.js 10"
Next.js v10 was just released (🎉 ) which includes a number of exciting new features, including [automatic image optimisation](https://nextjs.org/blog/next-10#built-in-image-component-and-automatic-image-optimization) and potentially [analytics](https://nextjs.org/blog/next-10#nextjs-analytics).
Let's upgrade to Next.js 10!

Blog: https://nextjs.org/blog/next-10

[2020-10-27 23:28] #136 closed

[2020-10-30 22:49] thdoan opened #140 "Seeding is incomplete"
Steps to reproduce:

1. Set `CHEC_PUBLIC_KEY` and `CHEC_SECRET_KEY` to your own keys in `.env`
2. Run `yarn seed`

It should run successfully and output something like this:

[code]

3. Run `yarn dev`

Actual behavior: no products are visible in the store.
Expected behavior: 9 products should be visible in the store.

![image](https://user-images.githubusercontent.com/4110567/97763009-8a894c80-1ac

[2020-10-30 22:57] robbieaverill commented on #140
Hi there, did your `yarn seed` run successfully and output what you shared above?

[2020-10-31 00:11] thdoan commented on #140
After some investigation, I think I know what might be the root cause of all this -- when I originally ran `yarn seed` it failed with this error, possibly because I used the sandbox key/secret in `.env`:

[code]

After this, I updated `.env` with the standard key/secret and re-ran `yarn seed`, which ran successfully:

[code]

However, I think the products were not linked to the categories, as I ha

[2020-10-31 00:11] #140 closed

[2020-10-31 00:13] thdoan opened #141 "yarn build failed on netlify"
After verifying that the demo store functions fine on http://localhost:3000, I followed the instructions in the README to deploy to Netlify, but it failed. Here is the log:

[code]

Could it be because the GitHub repo is private?

[2020-10-31 00:22] thdoan commented on #141
UPDATE: I added the CHEC_PUBLIC_KEY environment variable and re-deployed, but same 127 exit code.

[2020-11-02 01:30] thdoan commented on #141
UPDATE 2: I identified the root cause -- it was because I followed the recommended instructions on the Yarn website and installed Yarn from the msi file since I'm on Windows. Since I never ran `npm install yarn`, it was never added to `package.json`, so when Netlify runs `yarn deploy` it returned the "yarn: command not found" error. After pushing an updated `package.json` containing `"yarn": "^1.2

[2020-11-02 01:30] #141 closed

[2020-11-12 12:47] galanggg commented on #61
Hi @jaepass , can i work on this issue ?

[2020-11-12 23:41] robbieaverill opened #142 "Add loading indicator while product display page is being loaded"
* Go to collections page
* Click on a product

Notice there is a second or two while the product information loads that nothing happens in the UI. We could put a loading indicator somewhere to show that something is happening.

[2020-11-13 09:36] notrab commented on #142
@robbieaverill I would imagine this is happening because you're opting out of static optimization by using `getInitialProps` in `_app.js`.

You should remove `getInitialProps` from `_app.js`, and since this is being served via Netlify, you'll want to also use [`next-on-netlify`](https://github.com/netlify/next-on-netlify) to get the most benefit out of serverless mode.

Next are working on making

[2020-11-13 16:23] robbieaverill commented on #142
Thanks for that @notrab! We're aiming for this repo to be hosted on Netlify and Vercel, so we can archive the Vercel copy of this repo. Would next-on-netlify cause issues for Vercel?

[2020-11-13 16:25] robbieaverill commented on #142
Ah yes, maybe it's only a dev mode thing - if so we can probably close this

[2020-11-13 17:01] notrab commented on #142
@robbieaverill Sweet. You could have a build script for netlify `build:netlify` which runs that dependency, and keep the regular `build` for Vercel. Like you say, no need for a fork if it's the deployment target that is only to change.

[2020-11-13 22:51] jaepass commented on #142
Actually looks like all the product display pages `[permalink].js`  are generated as static pages using `getStaticProps`. I don't see a hang when loading in production but could just be me? maybe a bit for the carousel images so can add a loaded there?

[2020-11-13 22:52] robbieaverill commented on #142
Yeah @notrab was right, it's a dev-only thing, happy to close

[2020-11-13 22:52] #142 closed

[2020-11-19 01:09] eufandem opened #151 "Shipping validation error"
<img width="1243" alt="Screen Shot 2020-11-18 at 5 08 26 PM" src="https://user-images.githubusercontent.com/29156467/99607449-b1e58200-29c0-11eb-9f44-b501dcc2c1c5.png">

Error should be more contextual
There shouldn't be an error in the first place

[2020-11-20 17:43] eufandem commented on #151
@robbieaverill im still getting this error

[2020-11-20 17:47] robbieaverill commented on #151
The PR hasn't been merged yet, see #152

[2020-11-20 18:03] #151 closed

[2020-11-20 22:41] #61 closed

[2020-11-20 22:42] robbieaverill commented on #130
I assume we're talking about this:
![image](https://user-images.githubusercontent.com/5170590/99856815-ac15ab00-2b3e-11eb-927a-6a176b00c1ba.png)

cc @blazepollard

[2020-11-21 01:49] ScopeyNZ commented on #61
FYI we added https://github.com/chec/commercejs-nextjs-demo-store#commercejs-features which should hopefully cover some of the use case here.

[2020-11-21 07:46] akashrajput25 commented on #130
yeaa , you got it right, theme is too basic, according to the website's theme, also bottom is not fully covered by the menu.color combination is also not matching, keeping website's theme in view.

[2020-11-23 22:53] robbieaverill opened #153 "Login callback URL doesn't have route params provided, prevents login from working"
* Go to demo store when it has been statically generated (not `yarn dev`)
* Click Login
* Enter email and submit
* Go to email, click link in email

Expected: Customer should be logged in and be shown customer section
Actual: login form shows again

https://nextjs.org/docs/routing/dynamic-routes#caveats

[2020-11-23 23:02] kvisca commented on #153
@robbieaverill The is issue is as outlined below by Guy.

[code]

What we need to do to solve this is to encapsulate the login form and logic into a second component that is dynamic with no SSR. You can find information on how to do that here:
https://nextjs.org/docs/advanced-features/dynamic-import#with-no-ssr

[2020-11-24 01:40] jaepass commented on #153
yes this is right, think I did the same for the confirm page. see the Confirm component where had to declare no ssr when importing it in to the Confirm index page

[2020-11-24 21:45] jaepass opened #156 "After successful login, UI renders "... logged out""
This message shows after a successful login. Only after a hard refresh the account page with order details renders correctly

<img width="1677" alt="Screen Shot 2020-11-24 at 1 27 57 PM" src="https://user-images.githubusercontent.com/48780927/100154887-2e61e000-2e5b-11eb-90da-9d87a8baebaa.png">

[2020-11-24 21:53] LB22 opened #157 "Add category in dashboard messes up a Link in CategoryBanner.js"
If I add a new category and refresh I get the error "Error: Failed prop type: The prop `href` expects a `string` or `object` in `<Link>`, but got `undefined` instead."

I traced it by luck to `<Link href={item.link}>` in components/homepage/CategoryBanner.js.

The error goes away if I remove the new category I created in the dashboard, or if I change the Link to `<Link href="/">`

[2020-11-24 22:14] robbieaverill commented on #156
Fixed in #154

[2020-11-24 23:06] robbieaverill opened #158 "Centralise logic for redirecting to login when user is not logged in"
On the account page, and the order view page, we have a `verifyAuth` method which runs when the component mounts. This checks that the user is logged in and redirects them away if not.

We can convert this into a HOC or something to centralise this logic.

[2020-11-24 23:07] robbieaverill opened #159 "Convert all component based architecture into functional components"
Replace with hooks for fetching data, etc.

Ideally we split the templates up more before this happens, which is a separate issue.

[2020-11-24 23:08] robbieaverill opened #160 "Split large render templates up into small chunks"
Some of the templates in this repository are huge. We should split up as much as possible into small components with the objective of code re-use.

When doing so, please prefer functional components over class components.

[2020-11-24 23:12] robbieaverill opened #161 "Remove redux in favour of React context"
We probably don't need to use Redux anymore, we can use the React context API instead.

Next.js have an official example of how to use Redux in Next: https://github.com/vercel/next.js/tree/canary/examples/with-redux

Objectives:

* Server side logic (if applicable) only fetches data that it needs for that request, since "On the server side every request initializes a new store, because otherwise d

[2020-11-24 23:13] robbieaverill opened #162 "Upgrade lottie library"
There's a console warning saying that the version of the lottie library we use is using the deprecated `componentWillMount()` React lifecycle hook. Let's upgrade or replace this library so it doesn't use deprecated code.

[2020-11-24 23:14] robbieaverill commented on #153
Thanks @kvisca @jaepass and @notrab - PR to fix this at #154, and I've also raised a number of new enhancement issues to refactor and modernise the codebase a little.

[2020-11-24 23:22] #153 closed

[2020-11-24 23:22] #156 closed

[2020-11-26 04:13] mikelyons opened #163 "Deploy to netlify fails"
below is the readout of the netlify deploy log that fails as of 11/25/2020

`7:56:15 PM: Build ready to start
7:56:17 PM: build-image version: 09c2cdcdf242cf2f57c9ee0fcad9d298fad9ad41
7:56:17 PM: build-image tag: v3.5.0
7:56:17 PM: buildbot version: 8df8a50b1177b0b57364d20e0ea150448924cebf
7:56:17 PM: Fetching cached dependencies
7:56:17 PM: Failed to fetch cache, continuing with build
7:56:17 PM:

[2020-11-26 17:35] robbieaverill commented on #163
Hi,

Did you enter a valid Commerce.js public key?

[2020-11-27 17:36] robbieaverill commented on #163
Please re-open if you've followed the readme linked above and are still having problems deploying to Netlify

[2020-11-27 17:36] #163 closed

[2020-11-27 18:37] robbieaverill commented on #157
cc @jaepass

[2020-11-27 23:26] robbieaverill opened #164 "Empty cart when hitting the checkout should redirect you home"
* Add products to cart
* Go to checkout
* Delete Commerce.js cart ID from cookies
* Refresh the page

Expected: should say your cart it empty or redirect you away somewhere else
Actual: renders a checkout page with an empty cart

[2020-11-27 23:41] jaepass commented on #157
Thanks for raising this @LB22, I'll look into this.

@robbieaverill I think we'll need to completely remove this category block.

[2020-11-27 23:58] robbieaverill commented on #157
Sounds good. If not, we need to ensure that any attributes of the extra category data we consume in this demo store are either attributes that the Chec API provides, or have null safety handling for cases like this where we've added extra properties that don't exist in the Chec API.

[2020-12-12 00:02] ltfschoen opened #168 "Products not rendering because chec.io does not recognise the seeded association between each product and category anymore"
When I clone the latest commit https://github.com/chec/commercejs-nextjs-demo-store/commit/c9796add2b4a3cefca2c49cb3dfb9257a51e02a8, and then delete all products and categories from chec.io, and then configure my .env file using my chec.io sandbox public key and run:
[code]
when i go to this page, none of the products are shown
![Screen Shot 2020-12-12 at 10 52 20 am](https://user-images.githubuse

[2020-12-12 00:32] blazepollard commented on #130
Let's go with a dark background (inherit from text color) and white links on the navigation drop down.

@robbieaverill

[2020-12-12 02:38] ltfschoen opened #169 "Variants not rendering when defined in the product.json seed file"
If I add a `variant` to a product in product.json, it does not render the product in the UI anymore on the product list page http://localhost:3000/collection.

[code]

But if I remove the `"variant"` field again so it is as shown below instead, and run `yarn seed` again, then the UI successfully loads that product in the UI again.

[code]

[2020-12-12 02:48] ltfschoen opened #170 "Sidebar on product list page does not allow scroll"
If the user is on a desktop and the sidebar is shown on the product list page, then if there are too many categories listed in the sidebar, they will be cropped at the bottom of the page, the user is not able to scroll down that sidebar, and the user may not even be aware there are more categories unless they make the window taller

![Screen Shot 2020-12-12 at 1 44 15 pm](https://user-images.githu

[2020-12-12 02:52] ltfschoen opened #171 "Sidebar on product list page is not responsive on mobile and overlaps content"
If the user is on a mobile device the list of categories in the sidebar shown on the product list page will overlap the product list and appears messy.

![Screen Shot 2020-12-12 at 1 44 56 pm](https://user-images.githubusercontent.com/6226175/101970876-32766600-3c81-11eb-96b3-d731bda3dc18.png)

[2020-12-12 06:32] ltfschoen opened #172 "Products list fetched from chec.io using Commerce.js API is incomplete"
After seeding and building my code in this branch https://github.com/ltfschoen/commercejs-nextjs-demo-store/compare/luke/wip?expand=1, and checking that all the categories and products are uploaded to check.io, when I go to the page to list the products at http://localhost:3000/collection, it doesn't list products from 3 out of my 5 categories (i.e. treatments-body-waxing, treatments-body-massage,

[2020-12-12 16:38] ltfschoen commented on #130
So the changes to be made to close this issue is to?
* Change background colour to black
* Change link text colour to white
* Stretch the mobile menu popup so its height extends to the bottom of any screen

[2020-12-12 16:39] akashrajput25 commented on #130
Yaa that will work

[2020-12-12 17:51] ltfschoen commented on #130
Ok I created a PR, so it looks like:

![Screen Shot 2020-12-13 at 4 13 25 am](https://user-images.githubusercontent.com/6226175/101991127-c2a6c080-3cfe-11eb-8993-22d8e56cb940.png)

And on shorter screen sizes ~320 height, it doesn't crop the top "Home" menu item, as shown below:

![Screen Shot 2020-12-13 at 4 29 21 am](https://user-images.githubusercontent.com/6226175/101991143-e10cbc00-3cfe-11eb-

[2020-12-12 18:40] akashrajput25 commented on #130
Yaa better

[2020-12-14 18:02] robbieaverill commented on #172
@ltfschoen thanks for all the references, could you link to specific parts of your code? If you think there's an issue with Commerce.js then we can raise an issue for it on that repository. There are known issues with this repository and how it handles product and category collections, which might be fixed by #166

[2020-12-14 18:04] robbieaverill commented on #169
Did you initial seeding request fail?

[2020-12-14 22:37] ltfschoen commented on #169
Yes, I can confirm that it fails.

So say I have already seeded two categories "cat_G6kVw73gdw2eDx" and "cat_G6kVw73gdw2eDx" that are in categories.json by running `yarn seed` to upload them to chec.io.

I then ensure that there are no products or assets on chec.io by running my scripts to delete them all:
* https://github.com/ltfschoen/commercejs-nextjs-demo-store/blob/d18dabb437b5d0badbabccdc21a

[2020-12-14 22:51] robbieaverill commented on #169
Hi @ltfschoen, please examine the response you reference in that last sentence. It will tell you what your API call is doing wrong, and what you need to do to fix it.

[2020-12-14 23:03] ltfschoen commented on #172
When I said previously that "it doesn't list products from 3 out of my 5 categories (i.e. treatments-body-waxing, treatments-body-massage, treatments-body-spray-tan)", I was referring to all the category slugs that I tried to upload that were in my products.json file here:
https://github.com/ltfschoen/commercejs-nextjs-demo-store/blob/d18dabb437b5d0badbabccdc21abb67b4110d26d/seeds/products.json

I

[2020-12-14 23:07] ltfschoen commented on #172
Oh it looks like you're referring to https://github.com/chec/commerce.js

[2020-12-14 23:12] ltfschoen commented on #172
It doesn't look like any of the product tests are checking that any category associations that may have been established are holding true https://github.com/chec/commerce.js/blob/master/src/features/tests/products-test.js

[2020-12-14 23:17] robbieaverill commented on #172
@ltfschoen you mentioned in your original post here that this demo store is only loading a specific subset of categories. That is true, and that is something that we're trying to remove (see #166). If you want to remove it in your own project you're more than welcome to do so, this is an example template that is designed for developers to fork and update as required.

The reason this store retriev

[2020-12-14 23:30] ltfschoen commented on #169
Those API docs say to format the request as follows to associate a variant with a product that's being created:

[code]

And that's the format I used for the `"varient"` property used earlier here https://github.com/chec/commercejs-nextjs-demo-store/issues/169#issuecomment-744755686, so I don't understand why it'd return `Response code 422 (Unprocessable Entity)`

[2020-12-14 23:33] robbieaverill commented on #169
@ltfschoen you're missing the key. Here's an example of what your request payload should look like, following the documentation linked above:

[code]

If you have any more questions, feel free to raise them on Slack or on our [seeder repository](http://github.com/chec/seeder). As far as I can see this issue is not a bug in this repository, so I'm going to close it 🙂  thanks for raising it though!

[2020-12-14 23:33] #169 closed

[2020-12-14 23:42] ltfschoen commented on #172
@robbieaverill Ok thanks, I'll wait until #166 has been merged and then integrate the latest changes to this repo into my fork, and then see if that fixes the issue.

[2020-12-14 23:44] robbieaverill commented on #172
Feel free to do so in advance if you like, it's all public/open source.

[2020-12-15 00:23] #130 closed

[2020-12-15 01:46] ltfschoen commented on #172
@robbieaverill I tried debugging in more detail, and only uploading the products from those 3 categories by themselves, and found there wasn't any errors in their seed file data, and they uploaded and displayed correctly in the UI. So it looks like there may be a limitation on how many products and categories can be rendered at once on that page.

[2020-12-15 12:06] ltfschoen opened #174 "Product count missing in sidebar category menu on product list page"
In this PR, the product count was removed from the categories menu in the sidebar of the product list per category page https://github.com/chec/commercejs-nextjs-demo-store/pull/166

It would be nice if the product count associated with each category was "automatically" shown correctly in the UI, otherwise it's just a nightmare for developers and website owners that want to use that feature, becau

[2020-12-15 14:02] ltfschoen opened #175 "Category meta not defined error even though the meta property is optional"
I think this line should be changed https://github.com/chec/commercejs-nextjs-demo-store/blob/master/components/homepage/CategoryBanner.js#L27 to be `{ item.meta && item.meta.image && (`, otherwise if the optional property `meta` is not defined in the categories.json, then the homepage doesn't load. It is an optional field in the docs https://commercejs.com/docs/api/#update-category

[2020-12-15 14:05] ltfschoen commented on #172
I've rebased my fork with the latest 'master' branch from this repository, but it still doesn't retrieve and render all the products.

[2020-12-15 14:33] ltfschoen opened #176 "Categories are displayed in UI in the reverse order from the order they are listed in categories.json"
I think this recent commit to the 'master' branch has caused the categories that get listed on this page http://localhost:3000/collection to now be listed in the reverse order from the order that they are listed in the categories.json file.

[2020-12-15 14:38] ltfschoen opened #177 "Short description feature for products"
On the product list page http://localhost:3000/collection, if the user provides a very long description for a product's description, it isn't pleasant to view the list of products. I think only a "short-description of a product" should be shown on that product list page.

If the user clicks one of the products on the product list page, it takes them to the product detail page (e.g. http://localhos

[2020-12-15 15:21] ltfschoen commented on #177
Perhaps truncate the description to say 40 characters on that product list page so it appears like this instead:

![Screen Shot 2020-12-16 at 2 15 19 am](https://user-images.githubusercontent.com/6226175/102233747-b2802280-3f44-11eb-822b-c50233c9c8ba.png)

Use a function to truncate it like:
[code]

And call it with:
[code]

Where `reg` is defined as:
[code]

See the commit in my fork of how i imp

[2020-12-15 17:41] robbieaverill commented on #174
Agreed. As noted, the change to support this will be released tomorrow. We can then add the logic back in using the `products` count (int) on a category object.

[2020-12-15 17:43] robbieaverill commented on #177
Thanks for raising this. You could also use CSS to provide the ellipsis rather than truncating in code. Pull requests welcome!

[2020-12-15 17:48] robbieaverill commented on #176
Thanks for raising this. I don't see this as a problem for this repository, although I will accept a pull request to adjust the sort order so it is in ascending order by ID if it isn't already so.

If you want to control the order the categories are loaded in for your own store, you may provide `{ sortBy: 'id', sortDirection: 'desc' }` (for example) as the `params` argument to the "list categories

[2020-12-15 17:48] #176 closed

[2020-12-15 17:52] robbieaverill commented on #175
Yep, good catch. You can also do `image.meta?.image` since we have an ECMAScript transpilation.

[2021-01-09 06:57] slavakurilyak commented on #139
Upgrading to Next.js v10.0.0+ will improve the [PageSpeed Insights](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fcommercejs-demo-store.netlify.app%2F&tab=mobile) score for this demo!

Here is the current mobile score:

<img width="642" alt="screen 1" src="https://user-images.githubusercontent.com/6625584/104085498-cf86d900-5204-11eb-9379-08204afa217f.png">

Here is the

[2021-02-26 10:57] zb2oby opened #180 ""Add to cart" currency symbol"
Hi,

The" add to cart" button is rendered with an hard-codded currency symbol :

```${this.getPrice()}```

it should be :

```{`this.getCurrencySymbol(product.price.formatted_with_symbol)}{this.getPrice()}```

maybe add it in utils :

`getCurrencySymbol(priceFormattedWithSymbol) {
    return priceFormattedWithSymbol.substring(1, 0);
  }`

[2021-02-26 11:24] zb2oby opened #181 "i18n ?"
Hi

Is there an internationalization feature planned ?

thanks

[2021-02-26 17:37] robbieaverill commented on #181
Hi @zb2oby, yes, we want to support i18n in the future. I don't have a timeframe on availability for it right now though.

[2021-02-26 18:02] #180 closed

[2021-02-26 18:02] robbieaverill commented on #180
Thank you @zb2oby

[2021-03-04 22:16] C3PablO commented on #163
Hi there! I'm getting the same error message.
I've the exact same public key under netlify.toml and .env. I got the key from dashboard.chec.io/settings/developer.
I tried redeploying from Netlify several times with the same outcome.
Any clue?

[2021-03-04 22:23] C3PablO commented on #163
Ok, I was following the step by step guide here: https://www.netlify.com/blog/2020/07/09/create-a-fully-fledged-jamstack-commerce-store-with-commerce.js-and-netlify/

and there is something wrong at the step of setting the public key in netlify.toml. It says CHEC_PUBLIC_KEY where it should be NEXT_PUBLIC_CHEC_PUBLIC_KEY

[2021-03-04 22:39] jaepass commented on #163
Hey there, thanks for pointing this out. We'll be updating the Netlify blog post! The project [README](https://github.com/chec/commercejs-nextjs-demo-store#manual-setup-and-netlify-deployment) has the most up-to-date project set up if you want to refer to it as well.

[2021-03-04 23:39] C3PablO commented on #168
any update of this? for me the only options that works is adding the category to each product in the chec.io admin

[2021-03-05 00:49] robbieaverill commented on #168
@C3PablO we haven't had a chance to look into this yet. Your suggested workaround is great, and I'd recommend anyone else with this problem do the same thing. Our seeder script is not currently able to seed everything that is required for demo stores to function, so still some operations must be done in the dashboard. This issue is one that we would like to fix at some stage though. We also welcom

[2021-03-07 12:07] ltfschoen commented on #168
unfortunately when you're forecast that in future you'd have a large number of products, the thought of having to do "manual" workarounds like adding the categories to thousands of products using an admin dashboard rather than just running a script is a showstopper. the seeding feature would be necessary if you want to backup and then restore your data in production too, not just for the demo stor

[2021-03-07 20:47] robbieaverill commented on #168
Hey there, we have an API that you can use to script this kind of thing. Third issue is specifically for our seeder, and for people who want to quickly install our sample data to use our demo store.

[2021-03-07 22:44] ltfschoen commented on #168
Oh right, I wasn't aware of that. I'd all but given up on it back in December.

[2021-03-08 18:18] robbieaverill commented on #168
Sorry for the confusion. What you're trying to achieve here is definitely achievable using our create/update product/category (docs here: https://commercejs.com/docs/api/). For this issue, either the seed files in this demo store repository, or the seeder itself perhaps, need to be updated to handle multiple category associations.

Commerce.js has dedicated support available for paid plans.

[2021-04-09 22:27] eufandem opened #188 "update About link in footer"
Change footer link commercejs.com/company/about
to
commercejs.com/about

[2021-04-10 15:27] IvanSmiths opened #190 "Update node-sass to support newest versions of Node"
Hello there! I'm getting this error while using the script "yarn start" to start a local development.

error - ./style/scss/style.scss
Error: Node Sass does not yet support your current environment: Windows 64-bit with Unsupported runtime (83)

I'm using Node version v14.15.5.

[2021-04-10 16:49] robbieaverill commented on #190
Hi there, it sounds like the build tools don't support node 14 yet. Could you try using node 12?

[2021-04-10 19:40] IvanSmiths commented on #190
Hi and thanks for the quick response. I'll try it for sure, for now i'm going to see if i can find a workaround with version 14.

[2021-04-12 16:26] robbieaverill commented on #190
Sounds good, I'll relabel this issue to update the build tools to support newer versions of node.

[2021-04-12 16:27] robbieaverill commented on #172
Hi @ltfschoen, did you end up finding a solution for this issue?

[2021-04-12 17:31] #188 closed

[2021-04-23 15:27] talmax1124 opened #192 "Error in run dev"
TypeError: Cannot read property 'tap' of undefined
    at /Users/carlitos/Joannie-Store/node_modules/@next/react-refresh-utils/ReactRefreshWebpackPlugin.js:100:61
    at SyncHook.eval [as call] (eval at create (/Users/carlitos/Joannie-Store/node_modules/next/node_modules/tapable/lib/HookCodeFactory.js:19:10), <anonymous>:7:1)
    at SyncHook.lazyCompileHook (/Users/carlitos/Joannie-Store/node_modu

[2021-04-23 15:27] talmax1124 commented on #192
Already did what it said but no luck

[2021-04-23 16:13] talmax1124 opened #193 "Error Seeding"
Could not push an object to the categories endpoint (Response code 422 (Unprocessable Entity)):
Could not push an object to the categories endpoint (Response code 422 (Unprocessable Entity)):
Could not push an object to the categories endpoint (Response code 422 (Unprocessable Entity)):

[2021-04-24 17:23] talmax1124 commented on #192
Is there a solution?

[2021-04-25 00:38] #193 closed

[2021-04-25 00:41] talmax1124 opened #194 "Can someone help me show the products?"
I have tried contacting people on slack and they have been unsuccessful at helping me resolve my problem. Can any of you help me make the products show with my API public key. I can't see any of the products. I did not change any of the products or categories that came with the repo.

What I mean is there is nothing appearing in the /collections page

You can reply to this repo or if you can, emai

[2021-04-25 00:46] talmax1124 commented on #177
@ltfschoen Can you help me display the products in localhost? I can't get anyone from slack to help me.

[2021-04-26 17:27] robbieaverill commented on #192
Hi @talmax1124, sorry for the late reply. Can you please explain what you've done in order to produce this issue, as well as the version of node you're using?

When I run `yarn dev` in this project on my machine I do not get this error. I'm using v12.20.0

[2021-04-27 17:43] #192 closed

[2021-04-27 17:47] robbieaverill commented on #194
Hi @talmax1124, please ensure you follow the readme guide here: https://github.com/chec/commercejs-nextjs-demo-store#manual-setup-and-netlify-deployment. The main thing is to make sure you swap the demo store's API key in the `.env` file with your own API key. You can either seed the products (see step 3 in the referenced readme above) or create some of them manually.

If you don't see the product

[2021-04-27 17:47] #194 closed

[2021-05-26 22:34] #139 closed

[2021-06-03 17:07] #174 closed

[2021-06-03 17:07] #175 closed

[2021-06-03 21:17] jaepass commented on #157
Fixed with https://github.com/chec/commercejs-nextjs-demo-store/pull/204

[2021-06-03 21:17] #157 closed

[2021-06-17 17:18] ppc06 opened #210 "Server Error ReferenceError: window is not defined"

[2021-06-17 17:22] jaepass commented on #210
Hey there, would you mind providing some steps to reproduce this error?

[2021-06-17 17:44] #210 closed

[2021-06-23 00:10] #168 closed

[2021-06-23 01:18] PaitoAnderson commented on #190
@IvanSmiths This should be fixed now since this project was updating to Next 10, I was able to run `yarn start` with Windows 64-bit and Node version v14.17.1 without issue.

[2021-06-23 03:46] robbieaverill commented on #190
Thanks team, reopen if necessary

[2021-06-23 03:46] #190 closed

[2021-07-08 11:13] IvanSmiths opened #215 "Error while choosing Countries on checkout"
Hi everyone. I've just copied this repository, but in my case, i get this error in the checkout page.

Seems like a CORS origin error, but i haven't setup any CORS policy in my website

`Access to XMLHttpRequest at 'https://api.chec.io/v1/services/locale//subdivisions' from origin 'https://mydomain.vercel.app' has been blocked by CORS policy: Response to preflight request doesn't pass access contr

[2021-07-08 16:30] robbieaverill commented on #215
Hi @IvanSmiths, do you have any more information about this request? The 422 response code indicates that there is probably a response body somewhere that might contain more useful information

[2021-08-21 01:25] ScopeyNZ opened #218 "Clean up meta tags"
Currently, Google shows this website as `commerce: Home` when you're searching for "Commerce home netlify". I'm not sure exactly where this is coming from, but we can probably improve the titles of our pages.

[2021-08-25 00:51] #218 closed

[2021-09-16 00:08] robbieaverill opened #220 "React warnings for using `value` attribute"
In the checkout page we use set the `value` attribute directly on form fields without providing an `onChange` handler. This results in a number of React warnings in the console:

![image](https://user-images.githubusercontent.com/5170590/133528824-d0d8bbba-c1f8-4e97-be18-de5c011e1a51.png)

We should follow best practices for form field data binding. https://reactjs.org/docs/forms.html#controlled-c

[2021-09-16 00:16] robbieaverill opened #221 "React warning for expected <a> tag in <Link> component"
![image](https://user-images.githubusercontent.com/5170590/133529391-8fd67f27-c7b9-46c0-a5d6-a680396606eb.png)

This is on every page when running in dev mode. There are a number of places where we use the Next.js `<Link>` component without a direct `<a>` as a child, but unsure which one is causing this error. I tried commenting some out but couldn't find the problem quickly.

[2021-09-16 00:17] robbieaverill opened #222 "React warning for using deprecated lifecycle hooks in Lottie component"
![image](https://user-images.githubusercontent.com/5170590/133529463-13596ff7-bd56-4a2c-b237-d34f9154fd36.png)

The react-lottie component we use is unmaintained and hasn't been updated in 3 years. We should replace it.

[2021-09-20 16:18] #221 closed

[2021-09-21 19:01] mattmi91 opened #225 "TypeError: Cannot read properties of undefined (reading 'map')"
I get this error everytime I go from page to page, how to solve?
.next\static\chunks\pages\collection.js (50:20) @ Collections.renderSidebar

  48 | return (
  49 |   <>

     |                ^
  51 |       <div key={category.id} className="custom-container">
  52 |         <div className="row">
  53 |           <div className="col-2 d-none d-lg-block position-relative">

[2021-09-22 21:58] robbieaverill commented on #225
Hi @mattmi91, did you find a solution for this?

[2021-09-22 22:32] mattmi91 commented on #225
yes I ended up changing line 50 to this
{categories && categories.map(category => (
the categories && was the solution but I now have another problem my products do not show up on that collection page but they do on the home page so my my api key is working but not for the collection page?

[2021-09-22 22:35] robbieaverill commented on #225
Feel free to join our community Slack channel for integration support: http://slack.commercejs.com.

Regarding the categories patch, if you want to make a pull request to update this repository with that change we'd welcome that 🙂

[2021-09-22 22:36] #225 closed

[2021-09-22 22:37] mattmi91 commented on #225
im guessing they are not showing because I had to make that change to stop getting the error right when the page loads?

[2021-09-26 17:55] mattmi91 opened #226 "Products dont show on collection js page"
I cant figure out why products do not show on collection page where they do on the home page so my api key is working.. why is this? im unable to test the site out because I cant put items in cart because theres no products on collections page

[2021-10-22 18:21] jaepass opened #229 "Use category image for feature image and get rid of collections lib"

[2021-10-22 18:27] jaepass opened #230 "Update to latest API and update code accordingly"

[2021-10-22 19:22] jaepass opened #231 "Update README"
- Remove the categories caveat section as we will no longer use the meta object for category assets
- Add a note that project is using the latest API version
More...

[2022-01-26 02:48] Starblue0 opened #235 "404 Seed (HELP)"
I downloaded the repository and did Yarn
I changed  .env.example to .env.

I Filled in my Public and Secret API Keys for the .env file and I Double checked after every retry and I did request new Priv & Pub API keys when retrying for the seeds and refilled the Env file with new API keys after every retry.

I ran the yarn seed and I got a 404 error & Licence error in package.json, It was unable to

[2022-01-26 09:33] #235 closed

[2022-02-01 00:41] vinnielo opened #236 "seed error 404. using npm not yarn"
Hello, I am working with  this store  demo and when running seeds i get  404 error. I have confirmed both secret and public api keys and  cannot seem to get the data to load.  Any advise?

[2022-03-16 20:17] scrutch93 commented on #236
Need help on this as well

[2022-03-17 13:28] scrutch93 commented on #226
Bump

[2022-04-06 09:39] lborruto opened #290 "SendGrid integration - Error 500"
Hi, trying to add SendGrid integration but always get this error when sending the login mail:

[code]
Everything works fine with the default email system from Chec, I tested earlier and I'm able to connect without any issues.

[2022-04-06 12:33] lborruto opened #291 "Categories images not loading"
Hi, looking to get my own images working in the `CategoryBanner`, nothing works despite reading the instructions.
My `collection.js` look like this :

[code]
I double checked the spelling and path but everything seems ok. Maybe I'm doing this wrong.
Categories are also set in the Chec dashboard:

![image](https://user-images.githubusercontent.com/33548688/161975574-3b6ac7c7-b6ea-40dd-9427-d8f43fb6

[2022-05-11 10:48] abhi-turbo opened #293 "Product Image Gallery Carousel in Mobile View"
How to create product image gallery carousel in mobile view? (Product Page)
![image](https://user-images.githubusercontent.com/103590757/167831772-f4ef79ff-9386-4cdd-8cb9-8b887545ee40.png)

I am new in learning frontend, a guide to follow will be a great help! 🙏

cc: @kvisca

[2022-07-26 01:37] rortan134 opened #296 "Server mismatch warning on landing page"
![image](https://user-images.githubusercontent.com/37253958/180903569-70c7b579-7043-4fcc-8788-ea42a21b9598.png)

Refers to this line
[code]

[2022-07-26 04:35] AviduDev opened #297 "Paypal intergration..."
I tried to integrate PayPal, but it's not working. Is there any guide specific to next.js store?

[2022-09-07 15:33] MisterMunchkin commented on #236
Using yarn and I get this to with yarn seed